body {
     
    font-family: 'Rubik', sans-serif;
    margin: 0%;
    padding: 0%;
}

.background-image {
   position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/116/597/original/photo-1506536329413-d2f0d31ceb9f_1_?1708877951);
    background-size: cover;
    z-index: -1;
}

.container {
  margin: 0 auto
}

a {
    color: #5F8DA2;
}


.weather-app {
   position: relative;
    z-index: 1;
    background: #D4DDE2;
    max-width: 600px;
    margin: 45px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 16px;
    padding: 30px;
    min-width: 320px;

}

header {
    border-bottom: 1.5px solid #3373AB;
    padding: 0 0 30px 0;    
}

.search-form-input{
    background-color: #F9F7FE;
    border: none;
    border-radius: 6px;
    width: 80%;
    font-size: 16px;
    padding: 15px 20px;
}

.search-form-button{
    background-color:#5F8DA2;
    color: #FFFFFF;
    padding: 15px 30px;
    border: none;
    font-size: 16px;
    margin-left: 5px;
    border-radius: 6px;
}

main {
    padding: 30px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}


.weather-app-city {
    margin: 0;
    font-size: 38px;
    line-height: 48px;
}

.weather-app-details {

    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #A9A6B3;
}

.weather-app-details strong {
    color: #F266AB;
}

.weather-app-temperature-container {
    display: flex;
}


.weather-app-icon{
    width: 88px;
    height: 88px; 
}

.weather-app-temperature {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
}

.weather-app-unit{
    margin-top: 6px;
    font-size: 28px;
}


.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #f65282;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

footer {
    border-top: 1.5px solid #3373AB;
    padding: 30px 0 0 0 ;
    text-align: center;
    font-size: 14px;
    color: #A9A6B3;   
    }




